@import '~@fluentui/react/dist/sass/References.scss';

:global {
  #workbenchPageContent,
  .CanvasComponent.LCS .CanvasZone {
    max-width: 100% !important;

  }
}

.fullPageContainer {
  background-color: transparent ;
  display: 'flex';
  flex-direction: 'column';
  justify-content: 'center';
  align-items: 'center',
}


:root {
  /* Primary Theme Color */
  --theme-color: #0078D7;        
  --theme-color-hover: #106EBE;  
  --theme-color-active: #005A9E;     

  /* status highlights */
  --total-leave: rgba(96, 153, 253, 0.2);     
  --pending-leave: rgba(253, 211, 96, 0.2);   
  --approved-leave: rgba(148, 253, 96, 0.2);  
  --rejected-leave: rgba(253, 96, 96, 0.2);  

   /* Status Colors */
  --status-approved: rgba(40, 167, 69, 0.1); 
  --status-pending: rgba(255, 193, 7, 0.1);   
  --status-rejected: rgba(220, 53, 69, 0.1);
}
